html {
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
}

:root {
  --primary-color: #121212;
  --secondary-color: #dddddd;
  --accent-color: #0098b9;
  --light-color: #fbfcff;
  --primary2-color: #1e1e1e;
}

body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 100%;
}

.navbar {
  justify-content: center;
}

.navbar-nav {
  margin: 0 auto;
  z-index: 1000;
  top: 0;
}

.custom-navbar {
  background-color: var(--primary-color);
}

.nav-link {
  margin: 2em 5em;
  color: var(--secondary-color);
  font-weight: 400;
}

.nav-link.active {
  color: var(--accent-color) !important;
  font-weight: 500;
}

.nav-link:hover {
  color: var(--accent-color);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#home {
  min-height: 90vh;
  padding: 0 15em;
}

#about {
  min-height: 100vh;
  padding: 0 15em;
}

#services,
#contact {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--primary2-color);
}

/* HOME */
.intro h6 {
  font-size: 1rem;
  letter-spacing: 0.2em;
  font-weight: 600;
  color: var(--secondary-color);
}

.intro h3 {
  font-size: 8rem;
  letter-spacing: 0.1em;
  font-weight: 1000;
  color: var(--light-color);
}

.intro span {
  color: var(--accent-color);
}

.intro h5 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 30px;
  width: 70%;
}

.btnLink {
  text-decoration: none;
  color: var(--light-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  border-style: solid;
  border-width: 1px;
  padding: 10px 30px;
  font-size: medium;
  letter-spacing: 0.2em;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.btnLink:hover {
  color: var(--light-color);
  box-shadow: 0 0 30px rgba(0, 152, 185, 0.5);
}

/* Services */
.cards-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5rem; /* Adjust the gap between cards */
}

.card-title {
  font-size: 1.2rem;
  letter-spacing: 0.2em;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--primary-color);
}

.card {
  border-radius: 0;
  height: 20rem;
  box-shadow: 10px 10px 0px 0px rgba(0, 152, 185, 1);
}

#services .mainBtn {
  margin-top: 5rem;
}

footer {
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0; /* Adjust as needed */
}

/* About */
.intro2 {
  padding: 4rem;
}

.intro2 h5 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 30px;
  text-align: justify;
}

#about .img-fluid {
  padding: 0 10rem;
}

/* Contact */
.form-control,
.form-control:focus {
  background-color: transparent;
  color: var(--primary-color);
  font-size: 1rem;
  border-style: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  width: 300px;
  margin-bottom: 30px;
}

.form-floating label {
  padding: 0 !important;
}
.form-control:active {
  background-color: transparent !important;
}

.form-floating > input:not(:placeholder-shown) + label,
.form-floating > textarea:not(:placeholder-shown) + label {
  color: var(--secondary-color) !important;
  background-color: transparent !important;
}

.form-floating > input:focus + label,
.form-floating > textarea:focus + label {
  color: var(--secondary-color) !important;
  background-color: transparent !important;
}
.form-floating > label::after {
  background-color: transparent !important;
}

.custom-input:focus {
  outline: none;
  box-shadow: none;
  color: #fff;
}

.form-floating label {
  color: #fff;
  background-color: transparent !important;
  letter-spacing: 0.2em;
  font-weight: 600;
  margin-bottom: 50px;
}

.custom-input {
  color: #fff;
}

.contact-info h5 {
  color: #fff;
}

.socials a {
  text-decoration: none;
}

.socials {
  gap: 50px;
}

.socials img {
  width: 25px;
  height: auto;
  margin-right: 20px;
}

#contact .intro h3 {
  text-align: left;
  margin-bottom: 100px;
}

textarea {
  resize: none;
  overflow: hidden;
  min-height: auto;
  max-height: 150px;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.card:nth-child(2){
  transition-delay: 200ms;
}
.card:nth-child(3){
  transition-delay: 400ms;
}


@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
  
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .navbar .container-fluid {
    display: flex;
    justify-content: flex-end;
  }

  .navbar-nav {
    width: 100%;
    justify-content: flex-end;
  }

  .nav-item {
    text-align: right;
  }

  #home,
  #about {
    padding: 0 1em;
  }

  .nav-link {
    margin: 1em 2em;
  }

  .intro h3 {
    font-size: 3.5rem;
  }

  .intro h5 {
    width: 100%;
    font-size: 1.2rem;
    line-height: 25px;
  }
  .col-md-3 img {
    width: 75%;
    padding-bottom: 20%;
  }
  #services {
    height: 200vh;
  }
  #contact {
    height: 110vh;
  }
  .intro2 {
    padding: 0rem;
  }
  .intro2 h5 {
    font-size: 1.2rem;
    line-height: 25px;
  }
  #about .img-fluid {
    padding: 0 3rem;
    padding-bottom: 3rem;
  }

  #contact .intro h3 {
    margin-bottom: 30px;
  }
}
